<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
            android:name="com.pdffox.adv.notification.CommonService"
            tools:node="remove" />
        <service
            android:name="com.pdffox.adv.push.MyFirebaseMessagingService"
            tools:node="remove" />
        <service
            android:name="com.pdffox.adv.push.ServiceStarterJobService"
            tools:node="remove" />
        <receiver
            android:name="com.pdffox.adv.notification.NotificationDeletedReceiver"
            tools:node="remove" />
        <receiver
            android:name="com.pdffox.adv.notification.BootReceiver"
            tools:node="remove" />
    </application>
</manifest>
